<app-history #history [board]="(currentBoard$ | async) || null">
    <div class="container w-full p-11 grid">
        <div class="flex justify-between" *ngIf="currentBoard$ | async as board">

            <div *ngIf="isLoading$|async">Loading...</div>

            <div class="flex w-full">
                <select [(ngModel)]="currentBoardId" (ngModelChange)="onBoardChange($event)" id="boardId" name="boardId"
                    class="border rounded-md bg-white">
                    <option *ngFor="let b of boards$ | async" [value]="b.boardId">
                        {{ b.name }}
                    </option>
                </select>

                <app-board-menu class="align-middle" [boardName]="board.name" (createBoard)="onCreateMode()"
                    (editBoard)="onEditMode(board)" (deleteBoard)="onDeleteBoardClick(board)">
                </app-board-menu>

                <div *ngIf="isInputBlockVisible" class="ml-2 flex">
                    <input [(ngModel)]="inputBoardValue"
                        class="rounded pl-2 bg-slate-200 placeholder:text-zinc-950 w-full"
                        [placeholder]="isEditMode ? 'Edit Board Name...' : 'Create Board...'" />
                    <div class="flex justify-between w-full">
                        <button (click)="isEditMode ? onEditBoardClick(board) : onCreateBoardClick()"
                            class="border-2 rounded-md bg-blue-950 ml-3 text-white w-2/5">
                            {{ isEditMode ? 'Save' : 'Add' }}
                        </button>
                        <button (click)="onCancelBoardClick()" class="border-2 rounded-md w-2/5">Cancel</button>
                    </div>
                </div>
            </div>

            <button mat-button class="order-last border p-2 flex items-center rounded-md bg-white"
                (click)="toggleHistory()">
                <img class="pr-2" src="icons/refresh.svg" />
                History
            </button>

        </div>
        <app-list [board$]="currentBoard$"></app-list>
    </div>
</app-history>